/*
* @Author: Miao
* @Date:   2018-08-01 14:50:38
* @Last Modified by:   Miao
* @Last Modified time: 2018-08-01 17:16:48
*/
/* 导航主体 */
.nav-side{
    margin-left: 60px;
    float: left;
    width: 130px;
    min-height: 100px;
}
.nav-side .nav-item{
    line-height: 25px;
    font-size: 13px;
}
.nav-side .nav-item .link{
    color: #888;
}
.nav-side .nav-item.active .link{
    color: #c60023;
}
/* 右侧内容区 */
.content.with-nav{
    float: left;
    width: 950px;
}