<!DOCTYPE html>
<html lang="en">
    <head>
        <%= require('html-loader!./layout/head-common.html') %>
        <title><%= htmlWebpackPlugin.options.title%> - Mall</title>
    </head>
    <body>
        <%= require('html-loader!./layout/notice.html') %>
        <%= require('html-loader!./layout/nav.html') %>
        <%= require('html-loader!./layout/header.html') %>
        <div class="crumb">
            <div class="w">
                <div class="crumb-con">
                    <a class="link" href="./indexs.html">Shooooping!</a>
                    <span>></span>
                    <span class="link-text"><%= htmlWebpackPlugin.options.title%></span>
                </div>
            </div>
        </div>
        <div class="page-wrap w">
            <%= require('html-loader!./layout/nav-side.html') %>
            <div class="content with-nav">
                <div class="panel">
                    <div class="panel-title"><%= htmlWebpackPlugin.options.title%></div>
                    <div class="panel-body">
                        <div class="links">
                            <a class="link" href="https://github.com/TimeSooShort" target="_blank">
                                <p class="about">我的GitHub</p>
                            </a>
                            <a class="link" href="https://blog.csdn.net/sinat_34976604" target="_blank">
                                <p class="about">我的博客</p>
                            </a>
                            <a class="link" href="https://github.com/TimeSooShort/mall_project" target="_blank"><p class="about">项目后端代码地址</p>
                            </a>
                            <a class="link" href="https://github.com/TimeSooShort/mall-fe" target="_blank"><p class="about">项目前端代码地址</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%= require('html-loader!./layout/footer.html') %>
    </body>
</html>