<div class="footer">
    <div class="w">
        <div class="links">
            <a class="link" href="https://github.com/TimeSooShort" target="_blank">我的GitHub</a> |
            <a class="link" href="https://blog.csdn.net/sinat_34976604" target="_blank">我的博客</a> |
            <a class="link" href="https://github.com/TimeSooShort/mall_project" target="_blank">项目后端代码地址</a> |
            <a class="link" href="https://github.com/TimeSooShort/mall-fe" target="_blank">项目前端代码地址</a>
        </div>
        <p class="copyright">
            Copyright © 2018 miaoshop.top All Right Reserved
        </p>
        <div class="links">
            <a class="link" href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备18109276</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>